* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
     background: transparent;
     overflow: hidden;
}
 .scroll {
     width: 1360px;
     height: 45px;
     overflow: hidden;
     position: relative;
     background: #2C1346;
     background: linear-gradient(90deg,rgba(44, 19, 70, 1) 0%, rgba(68, 3, 145, 1) 100%);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     transition: opacity 1s ease-in-out;
     opacity: 0;
}
 .visible {
     opacity: 1 !important;
}
 .scroll__container {
     display: flex;
     width: max-content;
     align-items: center;
     height: 100%;
     will-change: transform;
     animation: scrollInfinito var(--duration, 10s) linear infinite;
}
 .scroll__item {
     color: white;
     font-family: sans-serif;
     font-weight: 800;
     font-size: 36px;
     padding: 0 50px; /* Espaço entre as frases */
     white-space: nowrap;
     text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
 @keyframes scrollInfinito {
     from {
         transform: translateX(0);
    }
     to {
         transform: translateX(var(--scroll-width));
    }

}










